<div class="container-fluid">
  <div>
    <h3>Add Schedule Entry</h3>
  </div>

  <div>
    <p><strong>Title:</strong> <select ng-model="current_mrl" ng-options="movie.mrl as movie.title for movie in movies" name="mrl">
      </select></p>

    <p><strong>Date:</strong> <input type="date" name="date" ng-model="current_date" placeholder="2013-01-01"></p>

    <p><strong>Time:</strong> <input type="time" name="time" ng-model="current_time" placeholder="13:00 AM"></p>
  </div>

  <div>
    <p><button ng-click="save_entry()" class="btn btn-primary">Save</button> <button ng-click="close()" class="btn btn-warning cancel">Cancel</button></p>
  </div>
</div>